.item-container {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
  place-items: center;
}

.single-item {
  padding: .5rem .5rem;
  width: 20rem;
  height: 15rem;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  position: relative;
} 

.item-cover {
  width: 100%;
  height: max-content;
  text-align: center;
}

.item-picture {
  width: 10rem;
  height: 12rem;
  object-fit: contain;
  object-position: center;
}

.item-title {
  font-size: clamp(1rem,1rem + 1vw, 1.5rem);
}

.item-price {
  position: absolute;
  top: 5px;
  right: 5px;
}
.item-hint {
  display:flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2px;
}

@media (max-width: 1200px) {
  .item-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1000px) {
  .item-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 710px) {
  .item-container {
    grid-template-columns: 1fr;
  }
}